{% extends "base.j2" %}
{% block content %}
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h3 class=" site-heading my-4 mt-3 text-black"><i class="nes-logo"></i> Welcome to My Blog <i class="nes-jp-logo"></i> </h3>
                        <h3 class="text-dark">From <i class="nes-pokeball"></i> With <i class="nes-icon is-large heart"></i></h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for page in pages %}
                    <div class="card mb-4">
                        <div class="nes-container is-rounded card-body">
                            <h3 class="card-title">{{ page.title }}</h2>
                            <p class="card-text text-muted h6">{{ page.author }} | {{ page.date }} </p>
                            <p class="card-text">{{ page.summary|safe }}</p>
                            <a href="{{ url_for("page", path=page.path) }}" class="nes-btn is-primary">Read More &rarr;</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% block sidebar %}
                {% include 'sidebar.j2' %}
            {% endblock sidebar %}
        </div>
    </div>
{% endblock %}
